/* CSS Document */
body {
	overflow: hidden;
}
#id {
	cellspacing: 0px;
	cellpadding: 0px;
}
#id1{
	position:relative;
	width:150px;
	height:60px;
	border:solid;
	margin:-8px;
	padding:0px;
	background-color:#FFFFFF;
	border-width:thin;
	border-style:solid;
	border-color:#CCCCCC;}
#name{
	position:absolute;
	font-family:"ו";
	font-size:28px;
	color:#22BAA0;
	font-style:italic;
	font-weight:bold;
	left:25px;
	top:10px;}
#id2{
	position:relative;
	width:1400px;
	float:left;
	border-bottom:1px solid #CCCCCC;
	}
#id2 input {
	position: absolute;
	height:25px;
	width:150px;
	left: 180px;
	top: -42px;
	border-radius:8px;
	border:solid 1px #2277ff;
	filter:Alpha(Opacity=70);opacity:0.5;-moz-opacity:0.5;
}
#id2 input:focus{
	position: absolute;
	height:28px;
	width:180px;
	left: 180px;
	top: -42px;
	border-radius:10px;
	border:solid 1px #0011ff;
}
#id2 select{
	position:absolute;
	right:60px;
	top:-40px;}
#id3{
	position:relative;
	width:152px;
	height:630px;
	background-color:#325269;
	margin-left:-8px;
	padding-top:5px;
	}
.icon1{
	position:absolute;
	top:30px;
	width:150px;
	height:40px;
	left:25px;
}
.icon1 a{
	color:#2e2e2e;
	text-decoration:none;
	font-size:24px;
	font-weight:bold;
	padding:5px;
	margin:5px;
	}
.icon1 a:link,.icon1 a:visited{
	text-decoration:none;
	}	
.icon1 a:hover{
	text-decoration:blink;
	color:#ffffff;
	}
.icon2{
	position:absolute;
	width:150px;
	height:40px;
	left:25px;
	top:70px;
}
.icon2:hover ~ dd div{
	display:block;
}
.icon2 a{
	color:#2e2e2e;
	text-decoration:none;
	font-size:24px;
	font-weight:bold;
	padding:5px;
	margin:5px;}
.icon2 a:link,.icon2 a:visited{
	text-decoration:none;}
.icon2 a:hover{
	text-decoration:blink;
	color:#ffffff;
	}
.icon3{
	position:position;
	top:110px;
	width:150px;
	height:40px;
	margin-left:25px;
}
.icon3 a{
	color:#2e2e2e;
	text-decoration:none;
	font-size:24px;
	font-weight:bold;
	padding:5px;
	margin:5px;
	}
.icon3 a:link,.icon1 a:visited{
	text-decoration:none;
	}	
.icon3 a:hover{
	text-decoration:blink;
	color:#ffffff;
	}
.icon4{
	position:position;
	top:150px;
	width:150px;
	height:40px;
	left:25px;
}
.icon4 a{
	color:#2e2e2e;
	text-decoration:none;
	font-size:24px;
	font-weight:bold;
	padding:5px;
	margin:5px;
	}
.icon4 a:link,.icon1 a:visited{
	text-decoration:none;
	}	
.icon4 a:hover{
	text-decoration:blink;
	color:#ffffff;
	}
.icon5{
	position:position;
	top:190px;
	width:150px;
	height:40px;
	left:25px;
}
.icon5 a{
	color:#2e2e2e;
	text-decoration:none;
	font-size:24px;
	font-weight:bold;
	padding:5px;
	margin:5px;
	}
.icon5 a:link,.icon1 a:visited{
	text-decoration:none;
	}	
.icon5 a:hover{
	text-decoration:blink;
	color:#ffffff;
	}
.menv03{
	margin-top:105px;
	margin-left:75px;
}
.sideleft{
	display:none;}
.a{
	font-size:20px;
	color:#FFFFFF;
	text-decoration:none;
}
.a:hover{
	color:#888888;
}
.b{
	margin-top:105px;
	margin-left:10px;
	font-size:20px;
	color:#FFFFFF;
	text-decoration:none;
}
.b:hover{
	color:#888888;
}
.open{
	display:block;}
.close{
	display:none;}

#id46{
	position:absolute;
	background-color:#999999;
	left:-98px;
	top:30px;
	width:80px;
	height:130px;
}
#id4 table{
	position:absolute;
	background-color:#999999;
	width:80px;
	height:130px;
}
#id4 table tr:hover{
	background-color:#00b050;
}
#id4 table tr a{
	text-decoration:none;
}
#id4 table tr a:hover{
	text-decoration:none;
}
#id4 span{
	position:absolute;
	left:180px;
	top:80px;
	width:150px;
	height:30px;
	font-size:20px;
	font-weight:bold;
}
#id400{
	position:absolute;
	left:180px;
	top:120px;
	wdith:1100px;
	height:80px;
}
#id400 table{
	border-collapse:collapse;
	width:1050px;
	height:80px;
}
#id400 table tr{
	width:1050px;
}
#id400 table tr th{
	width:150px;
	border:1px solid #123456;
	background-color:#ffffff;
}
#id401{
	position:absolute;
	left:180px;
	top:200px;
	wdith:1100px;
	height:300px;
}
#id401 table{
	border-collapse:collapse;
	width:1050px;
	height:80px;
}
#id401 table tr td{
	width:100px;
	height:25px;
	border:1px solid #123456;
	background-color:#ffffff;
}
#logout {
	position: absolute;
	right: 80px;
	top: -28px;
	color:#2277ff;
	font-family:arial;
	font-style:oblique;
	font-variant:small-caps;
	text-decoration:none;
}

#logout:hover {
	text-decoration:blink;
	position: absolute;
	right: 80px;
	top: -28px;
	color:#0000ff;
	font-family:arial;
	font-style:oblique;
	font-variant:small-caps;
	text-decoration:none;
}

#switch {
	position: absolute;
	right: 70px;
	top: -48px;
	color:#2277ff;
	font-family:arial;
	font-style:oblique;
	font-variant:small-caps;
	text-decoration:none;
}

#switch:hover {
	text-decoration:blink;
	position: absolute;
	right: 70px;
	top: -48px;
	color:#0000ff;
	font-family:arial;
	font-style:oblique;
	font-variant:small-caps;
	text-decoration:none;
}
.edit{
	margin-left:10px;
	border:none;
	width:19px;
	height:23px;
	background-image:url("../image/edit.jpg");
}

.edit:hover{
	margin-left:10px;
	border:none;
	width:19px;
	height:23px;
	background-image:url("../image/edit.jpg");
	filter:Alpha(Opacity=70);opacity:0.7;-moz-opacity:0.7;
}
.delete{
	margin-left:10px;
	border:none;
	width:25px;
	height:25px;
	background-image:url("../image/delete.jpg");
}

.delete:hover{
	margin-left:10px;
	border:none;
	width:25px;
	height:25px;
	background-image:url("../image/delete.jpg");
	filter:Alpha(Opacity=70);opacity:0.7;-moz-opacity:0.7;
}