/* CSS Document */
body {
	overflow: hidden;
}
#id {
	cellspacing: 0px;
	cellpadding: 0px;
}
#id1{
	position:relative;
	width:150px;
	height:60px;
	border:solid;
	margin:-8px;
	padding:0px;
	background-color:#FFFFFF;
	border-width:thin;
	border-style:solid;
	border-color:#CCCCCC;}
#name{
	position:absolute;
	font-family:"ËÎÌו";
	font-size:28px;
	color:#22BAA0;
	font-style:italic;
	font-weight:bold;
	left:25px;
	top:10px;}
#id2{
	position:relative;
	width:1400px;
	float:left;
	border-bottom:1px solid #CCCCCC}
#id2 input{
	position:absolute;
	left:180px;
	top:-40px;}
#id2 select{
	position:absolute;
	right:60px;
	top:-40px;}
#id3{
	position:relative;
	width:152px;
	height:630px;
	background-color:#325269;
	margin-left:-8px;
	padding-top:5px;
	}
.icon1{
	position:absolute;
	top:30px;
	width:150px;
	height:40px;
	left:25px;
}
.icon1 a{
	color:#2e2e2e;
	text-decoration:none;
	font-size:24px;
	font-weight:bold;
	padding:5px;
	margin:5px;
	}
.icon1 a:link,.icon1 a:visited{
	text-decoration:none;
	}	
.icon1 a:hover{
	text-decoration:blink;
	color:#ffffff;
	}
.icon2{
	position:absolute;
	width:150px;
	height:40px;
	left:25px;
	top:70px;
}
.icon2:hover ~ dd div{
	display:block;
}
.icon2 a{
	color:#2e2e2e;
	text-decoration:none;
	font-size:24px;
	font-weight:bold;
	padding:5px;
	margin:5px;}
.icon2 a:link,.icon2 a:visited{
	text-decoration:none;}
.icon2 a:hover{
	text-decoration:blink;
	color:#ffffff;
	}
.menv03{
	margin-top:105px;
	margin-left:75px;
}
.sideleft{
	display:none;}
.a{
	font-size:20px;
	color:#FFFFFF;
	text-decoration:none;
}
.a:hover{
	color:#888888;
}
.open{
	display:block;}
.close{
	display:none;}
#id4{
	position:absolute;
	top:60px;
	left:150px;
	height:1000px;
	width:500px;
}
#id40{
	margin-left:250px;
	margin-top:40px;
	height:250px;
	width:250px;
}
#id40 button{
	margin:20px;
	border:none;
	height:191px;
	width:200px;
	background-image:url(../image/building1S.jpg);
}
#id40 button:hover{
	border:none;
	margin:0px;
	height:239px;
	width:250px;
	background-image:url(../image/building1L.jpg);
}
#id41{
	margin-left:600px;
	margin-top:-240px;
	height:250px;
	width:250px;
}
#id41 button{
	margin:20px;
	border:none;
	height:172px;
	width:200px;
	background-image:url(../image/building2S.jpg);
}
#id41 button:hover{
	border:none;
	margin:0px;
	height:215px;
	width:250px;
	background-image:url(../image/building2L.jpg);
}
#id42{
	margin-left:150px;
	margin-top:-10px;
	height:250px;
	width:250px;
}
#id42 button{
	margin:20px;
	border:none;
	height:200px;
	width:200px;
	background-image:url(../image/building3S.jpg);
}
#id42 button:hover{
	border:none;
	margin:0px;
	height:250px;
	width:250px;
	background-image:url(../image/building3L.jpg);
}
#id43{
	margin-left:450px;
	margin-top:-210px;
	height:250px;
	width:250px;
}
#id43 button{
	margin:20px;
	border:none;
	height:159px;
	width:200px;
	background-image:url(../image/building4S.jpg);
}
#id43 button:hover{
	border:none;
	margin:0px;
	height:199px;
	width:250px;
	background-image:url(../image/building4L.jpg);
}
#id44{
	margin-left:750px;
	margin-top:-280px;
	height:250px;
	width:250px;
}
#id44 button{
	margin:20px;
	border:none;
	height:200px;
	width:200px;
	background-image:url(../image/building5S.jpg);
}
#id44 button:hover{
	border:none;
	margin:0px;
	height:250px;
	width:250px;
	background-image:url(../image/building5L.jpg);
}

#id45{
	margin-left:890px;
	margin-top:-550px;
	height:61px;
	width:330px;
	background-image:url(../image/logo8.png);
}
