/* CSS Document */
body{
	background-image:url("../image/class2.jpg");
}
#id0{
	position:relative;
}
#id00{
	position:absolute;
	background-image:url(../image/logo.png);
	height:61px;
	width:330px;
}
#id01{
	position:absolute;
	height:106px;
	width:407px;
	left:30px;
	top:310px;
	background-image:url(../image/welcome.jpg);
}
#id01 p{
	font-family:"Courier New", Courier, monospace;
	font-style:oblique;
	font-size:24px;
	font-weight:bold;
	color:white;
}
#id02{
	position:absolute;
	height:550px;
	width:360px;
	border:solid 1px #22baa0;
	margin-left:800px;
	margin-top:80px;
	border-top:5px solid #22baa0;
	border-radius:5px;
}

#id020{
	background-image:url(../image/logo8.png);
	height:61px;
	width:330px;
	margin-left:10px;
	margin-bottom:20px;
	margin-top:15px;
}
#id021{
	text-align:center;
	font-family:"Courier New", Courier, monospace;
	font-size:18px;
	font-weight:bold;
	margin:30px;
}

#id0220{
	position:absolute;
	top:200px;
	left:0px;
	height:30px;
	width:330px;
	margin:10px;
	border:hidden;
	border-style:none;
	border-bottom:solid 1px #22baa0;
	font-size:18px;
	background:none;
	outline:none;
}
#accounttips{
	position:absolute;
	top:250px;
	left:10px;
	width:330px;
	height:20px;
	font-size:14px;
	color:red;
}
#id0221{
	position:absolute;
	top:270px;
	left:0px;
	height:30px;
	width:330px;
	margin:10px;
	border:hidden;
	border-style:none;
	border:none;
	border-bottom:solid 1px #22baa0;
	font-size:18px;
	background:none;
	outline:none;
}
#passwdtips{
	position:absolute;
	top:320px;
	left:10px;
	width:330px;
	height:20px;
	font-size:14px;
	color:red;
}
#id0220:focus,#id0221:focus{
	height:30px;
	width:330px;
	margin:10px;
	outline:none;
	border-bottom:solid 3px #22baa0;
	
}

#id023{
	text-align:center;
	margin:30px;
}
#id023 button{
	position:absolute;
	top:350px;
	left:45px;
	height:40px;
	width:280px;
	font-size:18px;
	background-color:#22baa0;
	color:#FFFFFF;
}
#id023 button:hover{
	filter:Alpha(Opacity=70);opacity:0.7;-moz-opacity:0.7;
	height:40px;
	width:280px;
	font-size:18px;
	background-color:#22baa0;
	color:#FFFFFF;
}
