<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>Building_1UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_1UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F1UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_1F1UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F2UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_1F2UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F3UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_1F3UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F4UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_1F4UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F5UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_1F5UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F6UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_1F6UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_2UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F1UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_2F1UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F2UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_2F2UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F3UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_2F3UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F4UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_2F4UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F5UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_2F5UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F6UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_2F6UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_3UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F1UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_3F1UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F2UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_3F2UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F3UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_3F3UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F4UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_3F4UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F5UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_3F5UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F6UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_3F6UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F1UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_4F1UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F2UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_4F2UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F3UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_4F3UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F4UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_4F4UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F5UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_4F5UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F6UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_4F6UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_5UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F1UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_5F1UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F2UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_5F2UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F3UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_5F3UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F4UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_5F4UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F5UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_5F5UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F6UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_5F6UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.IndexUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RoomUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomALLUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RoomALLUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF1UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RoomF1UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF2UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RoomF2UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF3UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RoomF3UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF4UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RoomF4UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF5UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RoomF5UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF6UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RoomF6UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building1RoomALLUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building1RoomALLUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building2RoomALLUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building2RoomALLUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building3RoomALLUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building3RoomALLUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building4RoomALLUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building4RoomALLUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building5RoomALLUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building5RoomALLUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4UIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Building_4UIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.it.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.LoginUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.RegisterUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.it.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Manage_indexUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.Manage_indexUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InRoomUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.InRoomUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InRoomServlet</servlet-name>
    <servlet-class>cn.it.web.controller.InRoomServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>cn.it.web.controller.SelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllOnServlet</servlet-name>
    <servlet-class>cn.it.web.controller.AllOnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllOffServlet</servlet-name>
    <servlet-class>cn.it.web.controller.AllOffServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateLightStateServlet</servlet-name>
    <servlet-class>cn.it.web.controller.UpdateLightStateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartServer</servlet-name>
    <servlet-class>cn.it.web.controller.StartServer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>Building_1F1UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_1F1UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F2UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_1F2UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F3UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_1F3UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F4UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_1F4UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F5UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_1F5UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1F6UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_1F6UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F1UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_2F1UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F2UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_2F2UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F3UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_2F3UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F4UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_2F4UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F5UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_2F5UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2F6UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_2F6UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F1UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_3F1UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F2UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_3F2UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F3UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_3F3UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F4UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_3F4UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F5UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_3F5UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3F6UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_3F6UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F1UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_4F1UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F2UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_4F2UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F3UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_4F3UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F4UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_4F4UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F5UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_4F5UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4F6UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_4F6UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F1UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_5F1UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F2UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_5F2UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F3UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_5F3UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F4UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_5F4UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F5UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_5F5UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5F6UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_5F6UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomALLUILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.RoomALLUILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF1UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.RoomF1UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF2UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.RoomF2UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF3UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.RoomF3UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF4UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.RoomF4UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF5UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.RoomF5UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomF6UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.RoomF6UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexUILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.IndexUILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InRoomUILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.InRoomUILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectLogoutServlet</servlet-name>
    <servlet-class>cn.it.web.controller.SelectLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomUILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.RoomUILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_1UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_1UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_2UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_2UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_3UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_3UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_4UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_4UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Building_5UILogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.Building_5UILogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InRoomLogoutServlet</servlet-name>
    <servlet-class>cn.it.web.UILogout.InRoomLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.MessageUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClassRecordUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.ClassRecordUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckPeopleUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.CheckPeopleUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPeopleUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.AddPeopleUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectClassRecordServlet</servlet-name>
    <servlet-class>cn.it.web.controller.SelectClassRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectClassRecordUIServlet</servlet-name>
    <servlet-class>cn.it.web.UI.SelectClassRecordUIServlet</servlet-class>
  </servlet>




























































  <servlet-mapping>
    <servlet-name>Building_1UIServlet</servlet-name>
    <url-pattern>/servlet/Building_1UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F1UIServlet</servlet-name>
    <url-pattern>/servlet/Building_1F1UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F2UIServlet</servlet-name>
    <url-pattern>/servlet/Building_1F2UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F3UIServlet</servlet-name>
    <url-pattern>/servlet/Building_1F3UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F4UIServlet</servlet-name>
    <url-pattern>/servlet/Building_1F4UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F5UIServlet</servlet-name>
    <url-pattern>/servlet/Building_1F5UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F6UIServlet</servlet-name>
    <url-pattern>/servlet/Building_1F6UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2UIServlet</servlet-name>
    <url-pattern>/servlet/Building_2UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F1UIServlet</servlet-name>
    <url-pattern>/servlet/Building_2F1UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F2UIServlet</servlet-name>
    <url-pattern>/servlet/Building_2F2UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F3UIServlet</servlet-name>
    <url-pattern>/servlet/Building_2F3UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F4UIServlet</servlet-name>
    <url-pattern>/servlet/Building_2F4UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F5UIServlet</servlet-name>
    <url-pattern>/servlet/Building_2F5UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F6UIServlet</servlet-name>
    <url-pattern>/servlet/Building_2F6UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3UIServlet</servlet-name>
    <url-pattern>/servlet/Building_3UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F1UIServlet</servlet-name>
    <url-pattern>/servlet/Building_3F1UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F2UIServlet</servlet-name>
    <url-pattern>/servlet/Building_3F2UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F3UIServlet</servlet-name>
    <url-pattern>/servlet/Building_3F3UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F4UIServlet</servlet-name>
    <url-pattern>/servlet/Building_3F4UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F5UIServlet</servlet-name>
    <url-pattern>/servlet/Building_3F5UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F6UIServlet</servlet-name>
    <url-pattern>/servlet/Building_3F6UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexUIServlet</servlet-name>
    <url-pattern>/servlet/IndexUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomUIServlet</servlet-name>
    <url-pattern>/servlet/RoomUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomALLUIServlet</servlet-name>
    <url-pattern>/servlet/RoomALLUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF1UIServlet</servlet-name>
    <url-pattern>/servlet/RoomF1UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF2UIServlet</servlet-name>
    <url-pattern>/servlet/RoomF2UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF3UIServlet</servlet-name>
    <url-pattern>/servlet/RoomF3UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF4UIServlet</servlet-name>
    <url-pattern>/servlet/RoomF4UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF5UIServlet</servlet-name>
    <url-pattern>/servlet/RoomF5UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF6UIServlet</servlet-name>
    <url-pattern>/servlet/RoomF6UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building1RoomALLUIServlet</servlet-name>
    <url-pattern>/servlet/Building1RoomALLUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building2RoomALLUIServlet</servlet-name>
    <url-pattern>/servlet/Building2RoomALLUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building3RoomALLUIServlet</servlet-name>
    <url-pattern>/servlet/Building3RoomALLUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building4RoomALLUIServlet</servlet-name>
    <url-pattern>/servlet/Building4RoomALLUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building5RoomALLUIServlet</servlet-name>
    <url-pattern>/servlet/Building5RoomALLUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4UIServlet</servlet-name>
    <url-pattern>/servlet/Building_4UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F1UIServlet</servlet-name>
    <url-pattern>/servlet/Building_4F1UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F2UIServlet</servlet-name>
    <url-pattern>/servlet/Building_4F2UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F6UIServlet</servlet-name>
    <url-pattern>/servlet/Building_4F6UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F3UIServlet</servlet-name>
    <url-pattern>/servlet/Building_4F3UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F4UIServlet</servlet-name>
    <url-pattern>/servlet/Building_4F4UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F5UIServlet</servlet-name>
    <url-pattern>/servlet/Building_4F5UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5UIServlet</servlet-name>
    <url-pattern>/servlet/Building_5UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F1UIServlet</servlet-name>
    <url-pattern>/servlet/Building_5F1UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F2UIServlet</servlet-name>
    <url-pattern>/servlet/Building_5F2UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F3UIServlet</servlet-name>
    <url-pattern>/servlet/Building_5F3UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F4UIServlet</servlet-name>
    <url-pattern>/servlet/Building_5F4UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F5UIServlet</servlet-name>
    <url-pattern>/servlet/Building_5F5UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F6UIServlet</servlet-name>
    <url-pattern>/servlet/Building_5F6UIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/servlet/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUIServlet</servlet-name>
    <url-pattern>/servlet/RegisterUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Manage_indexUIServlet</servlet-name>
    <url-pattern>/servlet/Manage_indexUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InRoomUIServlet</servlet-name>
    <url-pattern>/servlet/InRoomUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InRoomServlet</servlet-name>
    <url-pattern>/servlet/InRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/servlet/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllOnServlet</servlet-name>
    <url-pattern>/servlet/AllOnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllOffServlet</servlet-name>
    <url-pattern>/servlet/AllOffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateLightStateServlet</servlet-name>
    <url-pattern>/servlet/UpdateLightStateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartServer</servlet-name>
    <url-pattern>/servlet/StartServer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F1UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_1F1UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F2UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_1F2UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F3UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_1F3UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F4UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_1F4UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F5UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_1F5UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1F6UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_1F6UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F1UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_2F1UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F2UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_2F2UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F3UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_2F3UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F4UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_2F4UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F5UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_2F5UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2F6UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_2F6UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F1UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_3F1UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F2UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_3F2UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F3UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_3F3UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F4UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_3F4UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F5UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_3F5UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3F6UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_3F6UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F1UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_4F1UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F2UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_4F2UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F3UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_4F3UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F4UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_4F4UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F5UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_4F5UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4F6UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_4F6UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F1UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_5F1UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F2UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_5F2UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F3UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_5F3UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F4UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_5F4UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F5UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_5F5UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5F6UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_5F6UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomALLUILogoutServlet</servlet-name>
    <url-pattern>/servlet/RoomALLUILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF1UILogoutServlet</servlet-name>
    <url-pattern>/servlet/RoomF1UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF2UILogoutServlet</servlet-name>
    <url-pattern>/servlet/RoomF2UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF3UILogoutServlet</servlet-name>
    <url-pattern>/servlet/RoomF3UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF4UILogoutServlet</servlet-name>
    <url-pattern>/servlet/RoomF4UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF5UILogoutServlet</servlet-name>
    <url-pattern>/servlet/RoomF5UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomF6UILogoutServlet</servlet-name>
    <url-pattern>/servlet/RoomF6UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexUILogoutServlet</servlet-name>
    <url-pattern>/servlet/IndexUILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InRoomUILogoutServlet</servlet-name>
    <url-pattern>/servlet/InRoomUILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectLogoutServlet</servlet-name>
    <url-pattern>/servlet/SelectLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomUILogoutServlet</servlet-name>
    <url-pattern>/servlet/RoomUILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_1UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_1UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_2UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_2UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_3UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_3UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_4UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_4UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Building_5UILogoutServlet</servlet-name>
    <url-pattern>/servlet/Building_5UILogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InRoomLogoutServlet</servlet-name>
    <url-pattern>/servlet/InRoomLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageUIServlet</servlet-name>
    <url-pattern>/servlet/MessageUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClassRecordUIServlet</servlet-name>
    <url-pattern>/servlet/ClassRecordUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckPeopleUIServlet</servlet-name>
    <url-pattern>/servlet/CheckPeopleUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPeopleUIServlet</servlet-name>
    <url-pattern>/servlet/AddPeopleUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectClassRecordServlet</servlet-name>
    <url-pattern>/servlet/SelectClassRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectClassRecordUIServlet</servlet-name>
    <url-pattern>/servlet/SelectClassRecordUIServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>